 body {
  color: rgb(2, 2, 2);
  padding: 40px;
  font-family: Arial;
  text-align: center;
  background-image: url("../image.png");
}


h1 {
  font-size: 150;
  font-family: 'Cinzel', serif;
}

h2 {
  font-size: 150;
  font-family: 'Cinzel', serif;
}

label {
  font-size: small;
}

input {
  color: rgb(8, 8, 8);
  border: 2px solid;
  margin: 0.25rem;
  padding: 0.5;
  text-align: center;
}

.lomake {
  background-color: #f77e5e;
}

button {
  padding: 10px;
  margin: 15px;
}
