 body {
  color: rgb(2, 2, 2);
  padding: 40px;
  font-family: Arial;
  text-align: center;
  background-image: url("../image.png");
}


h1 {
  font-size: 2,5em;
  font-family: 'Bodoni MT', serif  ;
}

h2 {
  font-size: 1em;
  font-family: 'Bodoni MT', serif;
}

label {
  font-size: small;
}

input {
  color: rgb(8, 8, 8);
  border: 2px solid;
  margin: 0.25rem;
  padding: 0.5;
  text-align: center;
}

.lomake {
  background-color: rgba(167, 136, 111, 0.7);
  width: 500px;
  margin: auto;
}

button {
  padding: 10px;
  margin: 15px;
}
